.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

input {
  border-radius: 5px;
  border: 1px solid gray;
}

button {
  background: rgb(7, 108, 190);
  border: none;
  padding: 5px 10px;
  margin-left: 5px;
  border-radius: 5px;
  color: white;
}

.delete-btn {
  background: red;
}

li {
  margin-bottom: 10px;
}